<div style="max-height:100px;height:100px"><div>
	</div></div><table id="Table_01" style="max-width:647;width:647;height:684;max-height:684" width="647" height="684" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"><div id="t19" onclick="change_new_table_col(19,&quot;Square_four&quot;)" draggable="true" ondrag="on_drag()" class="red ui-draggable" style="position: relative; left: 196px; top: -16px; z-index: 1;"><img src="assets/images/Square_four_red.jpg" class="Square_four" alt="" width="78" height="68"><b>19</b></div><div id="t20" onclick="change_new_table_col(20,&quot;Circle_four&quot;)" draggable="true" ondrag="on_drag()" class="red ui-draggable" style="position: relative; left: 345px; top: -34px; z-index: 1;"><img src="assets/images/Circle_four_red.jpg" class="Circle_four" alt="" width="78" height="68"><b>20</b></div></div><div id="table_merge" style="width:174px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30"><div id="new_label" style="height:auto;width:auto;min-width:100px;"><div style="margin-top:-90px;"><span id="lbl1" ondrag="on_drag()" ondoubletap="on_doubletap()" class="input-group-text ui-draggable" style="display: inline; text-align: center; font-weight: bold; margin-top: -90px; position: relative; left: 222px; top: -225px; z-index: 1;">Pintu Masuk</span></div></div></td></tr>
</tbody></table>