<div style="max-height:100px;height:100px"><div>
	</div></div><table id="Table_01" style="max-width:647;width:647;height:684;max-height:684" width="647" height="684" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"><div id="t13" onclick="change_new_table_col(13,&quot;Circle_two&quot;)" draggable="true" ondrag="on_drag()" class="red" style="position: relative; left: 248px; top: 141px;"><img src="assets/images/Circle_two_red.jpg" alt="" width="78" height="68"><b>13</b></div><div id="t1" style="margin-top: -60px; position: relative; left: 444px; top: 67px;" onclick="change_new_table_col(1,&quot;Square_four&quot;)" draggable="true" ondrag="on_drag()" class="red"><img src="assets/images/Square_four_red.jpg" alt="" width="78" height="68"><b>1</b></div></div><div id="table_merge" style="width:174px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30"><div id="new_label" style="height:auto;width:auto;min-width:100px;"></div></td></tr>
</tbody></table>