<div style="max-height:100px;height:100px"><div>
	</div></div><table id="Table_01" style="max-width:647;width:647;height:684;max-height:684" width="647" height="684" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"><div id="t12" ondblclick="change_new_table_col(12,&quot;Circle_four&quot;)" ondrag="on_drag()" class="blue ui-draggable" style="position: relative; left: 249px; top: -41px; z-index: 11;"><img src="assets/images/Circle_four_blue.jpg" class="Circle_four" alt="" width="78" height="68">12</div></div><div id="table_merge" style="width:174px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30"><div id="new_label" style="height:auto;width:auto;min-width:100px;"></div></td></tr>
</tbody></table>