<div style="max-height:100px;height:100px"><div>
	</div></div><table id="Table_01" style="max-width:647;width:647;height:684;max-height:684" width="647" height="684" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"></div><div id="table_merge" style="width:174px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30"><div id="new_label" style="height:auto;width:auto;min-width:100px;"><div style="margin-top:-90px;"><span id="lbl1" ondrag="on_drag()" class="input-group-text ui-draggable ui-draggable-dragging" style="display: inline; text-align: center; font-weight: bold; margin-top: -90px; position: relative; left: 263px; top: -508px; z-index: 11;">Back Door</span></div></div></td></tr>
</tbody></table>